<!doctype html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
{% block head %}{% endblock %}

<title>{% block title %}Коллекция автомоделей Simakazi{% endblock %}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="U4AAS4Kzqpob_JPHjRV80609mHTLXrZD_rWTZECW6bA" />
<link href="/static/main.css" rel="stylesheet" media="all" />
{% if edit %}
<script>
    function delete_photo(key){
        if (confirm('Точно удалить?')){
            window.location="{{ url_for('photo_delete') }}"+key;
        }
    }
</script>
{% endif %}
</head>
<body>
<div class="header"><a href="{{ url_for('feed') }}"><img src="/static/atom.png" alt="Subscribe" style="vertical-align: baseline;" /></a> <a href="{{ url_for('index',_external=True) }}">Коллекция автомоделей Simakazi</a></div>
<div id="cse" style="width: 100%;">Loading...</div>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}</p>
{% endfor %}

<div class="right_menu">

{% block right_menu %}
{% for c in menu %}
    {% if c is string %}
        <div class="menu_group">{{ c }}</div>
    {% else %}
        <div class="menu_item"><a href="{{ c[1] }}">{{ c[0] }}</a></div>
    {% endif %}
    
{% endfor %}
{% endblock %}

</div>
<div class='main'>{% block body %}{% endblock %}</div>

<script type="text/javascript" id="plus_one">
  window.___gcfg = {lang: 'ru'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementById('plus_one'); s.parentNode.insertBefore(po, s);
  })();
</script>


<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'ru'});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
      '000538932991213035515:WMX1868131255', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.LARGE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>

<script type="text/javascript">
    var disqus_shortname = 'simakazi';
    
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>