{% extends "layout.html" %}
{% block title %}Sign in{% endblock %}
{% block body %}
  <h2>Sign in</h2>
  <script>
    function send_google(){        
        document.getElementById("openid").value='https://www.google.com/accounts/o8/id';
        document.loginform.submit();
    }
  </script>
  <form action="" method="post"  name="loginform">
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}
    <p>
      OpenID:
      <input type="text" name="openid" size="30" id="openid" />
      <input type="submit" value="Sign in" />
      <input type="hidden" name="next" value="{{ next }}" />
      <a href="javascript:send_google()"><img src="http://google.com/favicon.ico" /></a>
    </p>
  </form>
{% endblock %}