<a href="{{url_for('model',key=model.key())}}">{{model.title}}</a><br />
{% if edit %}
<a href="{{url_for('model_add_photo',key=model.key())}}"><img src="/static/photo_small.png" alt="Add photo" /></a><br/>
{% endif %}
{{ model.description | safe }}
{% if model.scale_onbox and model.scale_real and model.scale_onbox==model.scale_real %}
    Scale: 1:{{ model.scale_onbox }}<img src="/static/mark16.png" alt="V" /><br />
{% else %}
    {% if model.scale_onbox %}
    Scale (on box): {{model.scale_onbox}}<br />
    {% endif %}
    {% if model.scale_real %}
    Scale (real): {{model.scale_real}}<br />
    {% endif %}
{% endif %}

<div class="photo_set">
{% for photo in model.photos %}
    <div class="photo_slide"><a href="{{photo.file_url}}"><img src="{{photo.thumbnail_url}}" /></a><br />{{photo.description}}<br />{% if edit %}<a href="{{ url_for('photo',key=photo.key())}}">изменить</a><br /><a href="javascript:delete_photo('{{photo.key()}}');">X</a>{% endif %}</div></a>
{% endfor %}
</div><br />