{% extends "layout.html" %}
{% block body %}
    <script>
        function convert_picasa(s){            
            s=s.substr(s.indexOf("href=")+5)            
            url=s.substr(1,s.indexOf("><img")-2)
            s=s.substr(s.indexOf("src=")+4)            
            thumb=s.substr(1,s.indexOf(" height")-2)            
            document.forms.photo.file.value=url;
            document.forms.photo.thumb.value=thumb;
            document.getElementById("photo_div").innerHTML+="<a href='"+url+"'><img src='"+thumb+"'/></a>";
        }
    </script>
<div>
    <form action="{{ url_for('photo',key=photo.key()) if photo }}" method="POST" enctype="multipart/form-data" name="photo">
    {% if photo %}
    <h3>Изменение фото</h3>
    {% else %}
    <h3>Добавление фото</h3>
    {% endif %}
    <label for="file">Ссылка:</label><input name="file" value="{{ photo.file_url if photo }}"><br />
    <label for="thumb">Превьюшка:</label><input name="thumb" value="{{ photo.thumbnail_url if photo }}" ><br />    
    <label for="description">Описание:</label><input name="description" value="{{ photo.description if photo }}"><br />
    <input type="submit" name="submit" value="Сохранить"><br />
    <input type="button" onclick="javascript:convert_picasa(prompt('Enter url'))" value="Из Picasa" />
    </form></div>
    {% if model %}
        <div id="photo_div">
     {% for photo in model.photos %}    
        <div>
        <a href="{{photo.file_url}}"><img src="{{photo.thumbnail_url}}" /></a><br />        
        {{photo.description}}
        </div>
    {% endfor %}
    {% else %}    
     {% for photo in photos %}             
        <div>
        <a href="{{photo.file_url}}"><img src="{{photo.thumbnail_url}}" /></a>        
        {{photo.description}}
        </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}
