{% extends "layout.html" %}
{% block head %}    
    {% if post %}
        <meta itemprop="name" content="{{ post.title }}">
        <meta itemprop="description" content="{{ post.content[:100] }}...">
        <script>
            var disqus_identifier = '{{ post.key() }}';
        </script>
    {% endif %}
{% endblock %}
{% block body %}
        {% if edit  %}
            <div style="float:left; margin-right: 15px;">
            <form action="" method="POST">                                           
                    <label for="title" >Заголовок:</labe><input name="title" value="{{ post.title if post }}" /><br />
                    <label for="content">Описание:</labe><br /><textarea name="content">{{ post.content if post }}</textarea><br />
                    <label for="tags">Теги:</label><input name="tags" value="{% if post %}{% for tag in post.tags %}{{ tag }}{{ ',' if not loop.last }}{% endfor %}{% endif %}" /><br/>
                    <label for="when">Когда:</labe><input name="when" value="{{ post.when.strftime('%Y-%m-%d %H:%M:%S') if post }}" /> <br />                                  
                    <input type="submit" name="submit" value="Сохранить">
            </form> 
            </div> 
        {% endif %}
        {% if post %}
            {% include 'one_post.html' %}       
        
        <div id="disqus_thread"></div>
        <script type="text/javascript">            
            var disqus_shortname = 'simakazi';            
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Пожалуйста, включите поддержку JavaScript в своём браузере, чтобы просматривать <a href="http://disqus.com/?ref_noscript">комментарии с Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}
{% endblock %}