{% extends "layout.html" %}
{% block body %}
        {% if edit  %}
<script>
    function delete_seria(){
        if (confirm('Точно удалить?')){
            window.location="{{ url_for('seria_delete',key=seria.key()) }}";
        }
    }
</script>
    <div>
            <form action="" method="POST">            
                    <label for="title" >Наименование:</labe><input name="title" value="{{ seria.title }}" /><br />
                    <label for="description">Описание:</labe><textarea name="description">{{ seria.description  }}</textarea><br />
                    <label for="country" >Страна:</labe><input name="country" value="{{ seria.country  }}" /><br />
                    <label for="period">Период выпуска:</labe><input name="period" value="{{ seria.period }}" /><br />                 
                    <label for="numbers">Номеров:</labe><input name="numbers" value="{{ seria.numbers if seria.numbers }}" /><br />                 
                <input type="submit" name="submit" value="Сохранить">
                <br />
                <input type='button' onclick='javascript:delete_seria()' value='Удалить' />
            </form>
</div>
        {% endif %}
        <div>
            {% include 'one_seria.html' %}
</div>
{% endblock %}
